.link-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.link-button-generic {
  padding: 0.6rem 1.5rem;
  background-color: #131212;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background-color 0.2s ease, transform 0.2s ease;
  backdrop-filter: blur(4px);
}

.link-button-generic:hover {
  background-color: rgba(27, 40, 56, 0.95);
}
