body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace;
}

section {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.app-layout {
  display: flex;
}

/* Main content offset */
.main-content {
  margin-left: 8rem;
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 4rem; /* matches approx footer height */
}

@media (max-width: 768px) {
  .side-nav {
    display: none;
  }

  .main-content {
    margin-left: 0;
  }
}
:root {
  --font-sans: "IBM Plex Mono", monospace;
}

body {
  font-family: var(--font-sans);
  margin: 0;
  line-height: 1.6;
  color: #111; /* clean base color */
  background-color: #c8c8c8;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  font-family: var(--font-sans);
}

h2 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 1rem;
  font-family: var(--font-sans);
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--font-sans);
}

p,
li {
  font-size: 1rem;
  line-height: 1.3;
  font-family: var(--font-sans);
  color: rgb(51, 51, 51);
}

.red-title {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-sans);
  color: rgb(135, 34, 34);
}

.blink-square {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgb(135, 34, 34);
  margin-left: 0;
  animation: blink 1.6s infinite;
  border-radius: 2px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.hero-title {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin: 0;
}

.global-section {
  --font-sans: "IBM Plex Mono", monospace;
  margin-bottom: 5rem;
}
